  .timeSlot {
    border: 1px solid grey;
    margin-top: 5px;
    padding: 7px;
    display: flex;
    justify-content: center;
    width: 105px;
    border-radius: 5px;
    cursor: pointer;
  }
  .timeSlot:hover {
    border: 1px solid green;
    background-color: lightgreen;
  }
  .disabled {
    background-color: lightcoral;
    color: white;
    border: 3px solid red;
    margin-top: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 105px;
    border-radius: 1px;
  }
  .disabled:hover {
    background-color: red;
  }
  .reserved {
    background-color: lightgreen;
    border: 3px solid green;
    margin-top: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 105px;
    border-radius: 12px;
    cursor: pointer;
  }
  .reserved:hover {
    background-color: green;
  }

  @media only screen and (min-width: 450px) {
    .timeSlot {
      width: 150px;
    }
    .disabled {
      width: 150px;
    }
    .reserved {
      width: 150px;
    }
  }
  